h1 {
    color:rgb(196, 11, 11);
    font-size:54px;
}
.title {
    text-align: center;
}

.center {
    list-style-position: inside;
    text-align: center;
}

h2 {
    color : rgb(221, 48, 221);
}

h3 {
    color : rgb(173, 173, 6);
}

nav a {
    margin-right: 20px;
}


