/* picture atribute */
article img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
}

body, p, div, button, h1 {
    margin : 0;
    padding: 0;
}
/* the box has a text line and button */
.button {
    text-align: center;
    background-color: rgb(193, 223, 223);
    margin: 0;
    padding: 0;
}

/* create the box class attribute */
.box {
    width: 100%;
    margin-top: 3px;
    text-align: center;
    display: flex;
    gap: 3px;
}

/* Add attributes to box1 */
.box1 {
    background-color: rgb(101, 240, 240);
    width: 35%;
    padding-top: 10px;
    text-align: center;
} 
/* Add attributes to box2 */
.box2 {
    background-color: rgb(141, 219, 219);
    width: 20%;
    padding-top: 10px;
}
/* Add attributes to box3 */
.box3 {
    background-color: rgb(83, 174, 174);
    width: 45%;
    padding-top: 10px;
}

.archive {
    display: flex;
    gap: 10px;
    justify-content: center;
}
