body {
    margin: 0;
    padding: 0;
}
.gradient {
    background: linear-gradient(90deg,rgba(45,56,219,.6),rgba(155,81,224,.6));
}

.btn {
    padding: 10px 20px;
    border-radius: 25px;
    color:white;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3); 
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
}

.container {
    margin-top: 50px;
    width: 1000px;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 50px auto 0; 

}
.left-bar {
    width: 200px;
    float: left;
}
.content {
    width: 800px;
    float: left;
}

.card {
    width: 20%;
    float: left;
    padding: 5%;
    margin-right: 3%;
    background-color: rgb(209, 209, 209);
    border-radius:10px;
}

.clear {
    clear: both;
}
.box {
    width: 300px;
    height: 300px;
    padding: 10px;
    /* margin : 10px; */
    margin-right: 10px;
    /* margin-left: 10px; */ 
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    float:left
}
.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}
.bg-yellow {
    background-color: yellow;
}


/* 
Aciklama 

*/

/* class -> .text-red {} */
/* id -> #id-bilgisi {} */
/*
h1, h2, h3, h4, h5, h6 {
    color:#a25c5c
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}


#first-article {
    font-size: 40px;
}

.text-red {
    color:red;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

 */
